* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.aside-home, .main-quienesSomos, .area .aside-servicios {
  display: grid;
  background-size: cover; }

/*Estilos del Home*/
.main-home {
  background-color: #547480; }
  .main-home .container-fluid h1 {
    text-align: center;
    font-size: 2rem;
    text-shadow: 1px 1px 1px; }
  .main-home .container-fluid .row {
    margin-top: 4rem; }
    .main-home .container-fluid .row p {
      padding: 2rem; }

.aside-home {
  background-image: url(../img/business-people-meeting-celeste.jpg); }

/*Estilos del Home Mobile*/
@media screen and (max-width: 600px) {
  .main-home {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-basis: 700px;
    background-image: url(../img/business-people-meeting-celeste.jpg);
    background-size: cover; } }

/*Estilos de Redes Mobile*/
.facebook {
  color: #3b5998; }

.instagram {
  color: #bc2a8d; }

.twitter {
  color: #00acee; }

.linkedin {
  color: #0e76a8; }

.whatsapp {
  color: #25D366; }

.youtube {
  color: #c4302b; }

/*Estilos de quienes somos*/
.main-quienesSomos {
  background-image: url(../img/austin-distel-gUIJ0YszPig-azul.jpg); }

.main-quienes-somos-responsive {
  display: none; }

.aside-QuienesSomos {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: #547480; }
  .aside-QuienesSomos h1 {
    padding-top: 10px;
    text-align: center;
    font-size: 2rem;
    text-shadow: 1px 1px 1px; }
  .aside-QuienesSomos p {
    padding: 2rem; }

/*Estilos de Quienes Somos Mobile*/
@media screen and (max-width: 600px) {
  .aside-QuienesSomos {
    display: none; }
  .main-quienesSomos {
    display: none; }
  .navbar-expand-lg {
    z-index: 1;
    width: 100%;
    position: absolute;
    margin-top: -20px; }
    .navbar-expand-lg .container-fluid .collapse .nav-item .nav-link:hover {
      color: #c2c2c2;
      text-shadow: 1px 1px 1px #1f1b1b; }
  .main-quienes-somos-responsive {
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: #547480;
    margin-top: 80px;
    padding-top: 10px;
    grid-area: main;
    background-color: #547480; }
    .main-quienes-somos-responsive img {
      width: 100%;
      padding: 5px 5px; }
    .main-quienes-somos-responsive .cards-quienes-somos-responsive {
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center; }
      .main-quienes-somos-responsive .cards-quienes-somos-responsive p {
        padding: 5px 45px; }
      .main-quienes-somos-responsive .cards-quienes-somos-responsive .card {
        margin: 20px 20px; } }

/*Estilos de Redes Mobile*/
section ul li a i {
  animation: none; }

.facebook {
  color: #3b5998; }

.instagram {
  color: #bc2a8d; }

.twitter {
  color: #00acee; }

.linkedin {
  color: #0e76a8; }

.whatsapp {
  color: #25D366; }

.youtube {
  color: #c4302b; }

/*estilos de servicios*/
.area {
  height: 100vh; }
  .area .main-servicios {
    opacity: 1;
    background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #547480 10px), repeating-linear-gradient(#444cf755, #547480); }
    .area .main-servicios .container-fluid {
      display: flex;
      flex-direction: column;
      align-content: center;
      font-size: 1rem; }
      .area .main-servicios .container-fluid h1 {
        text-align: center;
        font-size: 2rem;
        text-shadow: 1px 1px 1px; }
      .area .main-servicios .container-fluid .row {
        display: flex;
        flex-direction: column;
        align-content: center;
        font-weight: bold;
        color: black; }
        .area .main-servicios .container-fluid .row li {
          padding: 0.5rem; }
  .area .aside-servicios {
    background-image: url(../../img/alvaro-reyes-qWwpHwip31M-unsplash.jpg);
    flex-shrink: 1; }

/*Estilo de  Servicios Mobile*/
@media screen and (max-width: 600px) {
  .main-servicios {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: #547480; }
    .main-servicios h1 {
      text-shadow: 1px 1px 1px black;
      color: #c2c2c2;
      text-align: center;
      list-style: none; } }

.navbar-expand-lg {
  z-index: 1;
  width: 100%;
  position: absolute;
  margin-top: -20px; }
  .navbar-expand-lg .container-fluid .collapse .nav-item .nav-link:hover {
    color: #c2c2c2;
    text-shadow: 1px 1px 1px #1f1b1b; }

/*
@media screen and (max-width:601px) and (max-width:1199px){
  
    h1{
        text-shadow: $shadow black;
        text-align: center;

    }
    ul{
     align-content: center;
    li{
        text-align: center;
        list-style: none;
    }
    }
}
*/
/*Estilos de Eventos*/
.area-dos {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 6.0fr 0.5fr 0.3fr;
  grid-template-areas: "header header" "main main" "section section" "footer footer"; }

header {
  grid-area: header; }

main {
  grid-area: main;
  display: flex;
  flex-wrap: wrap; }
  main h1 {
    text-align: center;
    font-size: 2rem;
    text-shadow: 1px 1px 1px; }

section {
  grid-area: section; }

footer {
  grid-area: footer; }

.main-eventos {
  padding-top: 95px;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  background-color: nth #c2c2c2, #547480, #D27355, #1f1b1b, 2; }
  .main-eventos div p {
    color: #c2c2c2;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    font-style: "Lato";
    padding: 0; }
  .main-eventos img {
    width: 300px;
    height: 200px;
    border: 1px solid #c2c2c2;
    margin: 5px 5px; }
    .main-eventos img:hover {
      transform: scale(1.1);
      transition: 0.3s; }

/*estilos de Eventos Mobile*/
@media screen and (max-width: 600px) {
  .area-dos {
    display: flex;
    flex-direction: column; }
    .area-dos .navbar-expand-lg {
      z-index: 1;
      width: 100%;
      position: absolute;
      margin-top: -20px; }
      .area-dos .navbar-expand-lg .container-fluid .collapse .nav-item .nav-link:hover {
        color: #c2c2c2;
        text-shadow: 1px 1px 1px #1f1b1b; }
    .area-dos .main-eventos {
      justify-content: center; }
      .area-dos .main-eventos div img {
        align-content: center; }
        .area-dos .main-eventos div img:hover {
          transform: none; } }

/*Estilos de Contacto*/
.area {
  opacity: 1;
  background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #547480 10px), repeating-linear-gradient(#444cf755, #547480); }
  .area .main-contacto {
    opacity: 1;
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-shrink: 1; }
    .area .main-contacto h1 {
      padding: 0.5px;
      text-decoration: underline;
      color: #c2c2c2;
      font-size: 2rem;
      text-shadow: 1px 1px 1px;
      align-self: center;
      height: 2rem; }
    .area .main-contacto form {
      background-color: #547480;
      box-shadow: 1px 1px 1px black;
      color: #c2c2c2;
      padding: 1rem;
      margin-top: 3rem;
      margin-left: 2rem;
      border-radius: 5% 0 5% 0;
      border: solid; }
      .area .main-contacto form legend {
        text-align: center;
        margin-bottom: 2rem; }
      .area .main-contacto form div {
        margin: 1rem; }
      .area .main-contacto form .boton {
        width: 90px;
        margin-left: 100px;
        border: double; }
        .area .main-contacto form .boton:hover {
          transform: scale(1.1);
          background-color: #D27355; }
  .area .mapa {
    overflow: hidden;
    grid-area: aside;
    flex-shrink: 2;
    border-radius: 20px;
    height: 400px; }

/*Estilo de Contacto Mobile*/
@media screen and (max-width: 600px) {
  .navbar-expand-lg {
    z-index: 1;
    width: 100%;
    position: absolute;
    margin-top: -20px; }
    .navbar-expand-lg .container-fluid .collapse .nav-item .nav-link:hover {
      color: #c2c2c2;
      text-shadow: 1px 1px 1px #1f1b1b; }
    .navbar-expand-lg .main-contacto {
      display: flex;
      flex-direction: column;
      align-content: center; }
      .navbar-expand-lg .main-contacto form {
        display: flex;
        flex-direction: column;
        align-content: center; }
    .navbar-expand-lg .mapa {
      overflow: hidden;
      height: 200px; } }

body {
  font-family: "Lato"; }

.area {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 6.0fr 0.5fr 0.3fr;
  grid-template-areas: "header header" "main aside" "section section" "footer footer"; }

/*Estilos del Header*/
header {
  position: relative;
  grid-area: header;
  width: 100%;
  display: grid;
  background-color: #D27355; }
  header .logo {
    width: 70px;
    height: 70px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 50% 120%; }
  header .navbar-expand-lg {
    width: 100%;
    position: absolute;
    margin-top: -20px;
    border-radius: 10px; }
    header .navbar-expand-lg .container-fluid .collapse .nav-item .nav-link:hover {
      color: #c2c2c2;
      text-shadow: 1px 1px 1px #1f1b1b; }

.color-menu-responsive {
  background-color: #D27355; }

/*Estilos del Main*/
main {
  padding-top: 10px;
  grid-area: main;
  display: grid;
  background-color: #547480;
  justify-content: center; }
  main p {
    padding-left: 15px;
    padding-bottom: 40px; }

/*estilos del aside*/
aside {
  display: grid;
  grid-area: aside; }

/*estilos del section*/
section {
  grid-area: section;
  background-color: #c2c2c2;
  width: 100%;
  height: 50px; }
  section ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 5px 0 0 5px; }
    section ul li a i {
      height: 30px;
      width: 50px;
      padding: 10px 0px;
      animation: 2s infinite agrandar; }
    section ul .facebook {
      color: #3b5998;
      font-size: 25px; }
    section ul .instagram {
      color: #bc2a8d;
      font-size: 25px; }
    section ul .twitter {
      color: #00acee;
      font-size: 25px; }
    section ul .linkedin {
      color: #0e76a8;
      font-size: 25px; }
    section ul .whatsapp {
      color: #25D366;
      font-size: 25px; }
    section ul .youtube {
      color: #c4302b;
      font-size: 25px; }

@keyframes agrandar {
  0% {
    transform: scale(1); }
  25% {
    transform: scale(1.1); }
  50% {
    transform: scale(1.2); }
  75% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

/*estilos del footer*/
footer {
  grid-area: footer;
  text-align: center;
  background-color: #D27355; }
  footer h4 {
    font-family: "Fahkwang",sans-serif;
    font-weight: bold;
    font-size: 15px; }

/*------------media queries------------*/
@media screen and (max-width: 602px) {
  body {
    font-family: "Lato";
    font-weight: bold; }
  .area {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-content: center; }
  main {
    margin-top: 80px;
    padding-top: 10px;
    grid-area: main;
    display: grid;
    background-color: #547480;
    justify-content: center; }
    main p {
      padding-left: 15px;
      padding-bottom: 40px; }
  section ul li a i {
    animation: none;
    justify-content: center; }
  .facebook {
    color: #3b5998; }
  .instagram {
    color: #bc2a8d; }
  .twitter {
    color: #00acee; }
  .linkedin {
    color: #0e76a8; }
  .whatsapp {
    color: #25D366; }
  .youtube {
    color: #c4302b; }
  h4 {
    font-size: 15px; } }
