/*Estilos de Contacto*/
.area{
.main-contacto{
    
    grid-area: main;
    @include display-mobile;
    flex-shrink: 1;
    background-image: url(../../img/fondotexturado.jpg);
    h1{
    padding: 0.5px;    
    text-decoration: underline;
    color:nth($colores, 1 );    
    font-size: $medida-titulo;
    text-shadow:$shadow;
    align-self:center;
    height: 2rem;     
}
    form{
        color:nth($colores, 1 );  
        padding: 1rem;
        margin-top: 3rem;
        margin-left: 2rem;
        .boton{
            border: none;
            border-radius: 20% 0%;
            &:hover{
                transform: scale(1.1);
                background-color:nth($colores,3 );
            }
        }
        
    }

}
aside{
    background-color: nth($colores, 2 ); 
}

.mapa{
    overflow:hidden;
    grid-area: aside;
    flex-shrink: 2;
    border-radius: 20px;
    height: 400px;
    
}
}
/*Estilo de Contacto Mobile*/
@media screen and (max-width:600px){
    .main-contacto{
        @include display-mobile;
        form{
            @include display-mobile;
            }
        }
    
   .mapa{
    overflow:hidden;
    height: 200px;
   }
}   

   

