/*Estilos de Contacto*/
.area{

    opacity: 1;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #547480 10px ), repeating-linear-gradient( #444cf755, #547480 );
    
    .main-contacto{
    opacity: 1;
    grid-area: main;
    @include display-mobile;
    flex-shrink: 1;
    h1{
    padding: 0.5px;    
    text-decoration: underline;
    color:nth($colores, 1 );    
    font-size: $medida-titulo;
    text-shadow: $shadow nth($colores, 4 );
    align-self:center;
    height: 2rem;     
}
    form{
        
        background-color: nth($colores, 2 );
        box-shadow: $shadow nth($colores, 4 );
        color:nth($colores, 1 );  
        padding: 1rem;
        margin-top: 3rem;
        margin-left: 2rem;
        margin-bottom: 2rem;
        border-radius: 5% 0 5% 0;
        border: solid;
        legend{
            text-align: center;
            margin-bottom: 2rem;
        }
        div{
            margin:1rem;
        }
        input{
            margin-left: .2rem;
        }
        
        .boton{
            width: 90px;
            margin-left:100px; 
            border: double;
            &:hover{
                transform: scale(1.1);
                background-color:nth($colores,4 );
                color: nth($colores , 1 )
            }
        }
        
    }
}
.mapa{
    overflow:hidden;
    grid-area: aside;
    flex-shrink: 2;
    border-radius: 20px;
    height: 400px;
    
}
}
/*Estilo de Contacto Mobile*/
@media screen and (max-width:600px){
    .navbar-expand-lg{
        z-index: 1;
        width: 100%;
        position: absolute;
        margin-top: -20px;
        .container-fluid{
            .collapse{
                .nav-item{
                    .nav-link:hover{
                        color: nth($colores,1);
                        text-shadow: 1px 1px 1px nth($colores,4 );
                    }            
                }
            }
        }
    .main-contacto{
        @include display-mobile;
        form{
            @include display-mobile;
            }
        }
    
   .mapa{
    overflow:hidden;
    height: 200px;
   }
}

}   

   

