/*Estilos de Eventos*/
.area-dos{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 6.0fr 0.5fr 0.3fr ;
    grid-template-areas: 
    "header header"
    "main main"
    "section section"
    "footer footer";
}

header{
    grid-area: header;
}
main{
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    
    h1{
        text-align: center;
        font-size: $medida-titulo;
        text-shadow:$shadow;
    }
}
section{
    grid-area: section;
}
footer{
    grid-area: footer;
}
.main-eventos{
    padding-top: 95px;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    background-color: nth ($colores,2);
    div{

        p{
            color:nth($colores , 1 );
            text-align: center;
            text-shadow: $shadow black;
            font-style: "Lato";
            padding: 0;
        }
    }

    img{
    width: 300px;
    height: 200px;
    border: 1px solid #c2c2c2;
    margin: 5px 5px;
        &:hover{
    transform: scale(1.1);
    transition: 0.3s;
    }    
}
}
/*estilos de Eventos Mobile*/
@media screen and (max-width:600px){

.area-dos{
    @include display-flex;
    .main-eventos{
        justify-content: center;
        div{
            img{
            align-content: center;
            &:hover{
                transform: none;
            }
        }
    }
}
}
}
    

