/*Estilos del Home*/
.main-home{
    background-color: nth($colores, 2 );
    .container-fluid{
        h1{
            text-align: center;
            font-size: $medida-titulo;
            text-shadow: $shadow;
        }
        .row{
            margin-top: 4rem;
            p{
              padding: 2rem;
            }
            
        }
        

}
}
.aside-home{
    @extend %cover;
    background-image: url(../img/business-people-meeting-celeste.jpg);
}


/*Estilos del Home Mobile*/
@media screen and (max-width:600px){ 
.main-home{
    @include display-mobile;
    flex-basis: 700px;
    background-image: url(../img/business-people-meeting-celeste.jpg);
    background-size: cover;
   
}
}
/*Estilos de Redes Mobile*/
              
    .facebook{
        color:#3b5998;
    }
    .instagram{
        color: #bc2a8d ;
    }
    .twitter{
        color:#00acee
    }
    .linkedin{
        color:#0e76a8
    }
    .whatsapp{
        color:#25D366
    }
    .youtube{
        color: #c4302b;
    }
