
/*Estilos de quienes somos*/
.main-quienesSomos{
    background-image: url(../img/austin-distel-gUIJ0YszPig-azul.jpg);
    @extend %cover;
}
.main-quienes-somos-responsive{
    display: none;
}
.aside-QuienesSomos{
    display: grid;
    justify-items: center;
    background-color: nth($colores, 2 );
    h1{
        padding-top: 10px;
        text-align: center;
        font-size: $medida-titulo;
        text-shadow: $shadow;
    
    }
}
/*Estilos de Quienes Somos Mobile*/
@media screen and (max-width:600px){
    .aside-QuienesSomos{
        display: none;
    }
    .main-quienesSomos{
        display: none;
    }
    .main-quienes-somos-responsive{
        @include display-mobile;
        background-color: nth($colores,2);
        img{
            width: 100%;
            padding: 5px;
        }
        .cards-quienes-somos-responsive{
            @include display-mobile;
            p{
                padding: 15px;
            }
            .card{
                margin: 25px 0px;
            }   
        } 
    }

}
/*Estilos de Redes Mobile*/
section ul li a i{
    animation:none;                   
    }            
    .facebook{
        color:#3b5998;
    }
    .instagram{
        color: #bc2a8d ;
    }
    .twitter{
        color:#00acee
    }
    .linkedin{
        color:#0e76a8
    }
    .whatsapp{
        color:#25D366
    }
    .youtube{
        color: #c4302b;
    }

