
/*Estilos de quienes somos*/

.main-quienesSomos{
    background-image: url(../img/austin-distel-gUIJ0YszPig-azul.jpg);
    @extend %cover;
}
.main-quienes-somos-responsive{
    display: none;
}
.aside-QuienesSomos{
    @include display-mobile;
    background-color: nth($colores, 2 );
    h1{
        padding-top: 10px;
        text-align: center;
        font-size: $medida-titulo;
        text-shadow: $shadow;
    }
    p{
        padding: 2rem;
    }
}
/*Estilos de Quienes Somos Mobile*/
@media screen and (max-width:600px){
    .aside-QuienesSomos{
        display: none;
    }
    .main-quienesSomos{
        display: none;
    }
    .navbar-expand-lg{
        z-index: 1;
        width: 100%;
        position: absolute;
        margin-top: -20px;
        .container-fluid{
            .collapse{
                .nav-item{
                    .nav-link:hover{
                        color: nth($colores,1);
                        text-shadow: 1px 1px 1px nth($colores,4 );
                    }            
                }
            }
        }
    }
    .main-quienes-somos-responsive{
        
        @include display-mobile;
        background-color: nth($colores,2);
        margin-top: 80px;
        padding-top: 10px;
        grid-area: main;
        background-color: nth($colores,2);
        
        img{
            width: 100%;
            padding: 5px 5px;
        }
        .cards-quienes-somos-responsive{
            @include display-mobile;
            align-items: center;
            p{
                padding: 5px 45px;
            }
            .card{
                margin: 20px 20px;
                
            }   
        } 
    }

}
/*Estilos de Redes Mobile*/
section ul li a i{
    animation:none;                   
    }            
    .facebook{
        color:#3b5998;
    }
    .instagram{
        color: #bc2a8d ;
    }
    .twitter{
        color:#00acee
    }
    .linkedin{
        color:#0e76a8
    }
    .whatsapp{
        color:#25D366
    }
    .youtube{
        color: #c4302b;
    }

