
/*estilos de servicios*/
  
.main-servicios{
    flex-shrink: 1;
    @include display-mobile;
    font-size: 1rem;
    h1{
        text-align: center;
        font-size: $medida-titulo;
        text-shadow:$shadow;
    }
    ul li{
        padding: 0.2rem;
        margin-right: 380px;
        
    }
}

.aside-servicios{
    @extend %cover;
    background-image:url(../../img/alvaro-reyes-qWwpHwip31M-unsplash.jpg);
    flex-shrink: 2;

}


/*Estilo de  Servicios Mobile*/
@media screen and (max-width:600px){
.main-servicios{
    @include display-mobile;
    flex-basis: 700px;
    background-color:nth($colores, 2 );

    h1,li{
        text-shadow: $shadow black;
        color: nth($colores, 1 );
    }   
    }
}

